DB_HOST=localhost
DB_PORT=5433
DB_USER=postgres
DB_PASSWORD=311202
DB_NAME=recipes_users
JWT_SECRET=your-secret-key-change-in-production
SERVICE_TOKEN=internal-service-token
RECIPE_SERVICE_URL=http://localhost:3002
SOCIAL_SERVICE_URL=http://localhost:3003
