DB_HOST=localhost
DB_PORT=5433
DB_USER=postgres
DB_PASSWORD=311202
DB_NAME=recipes_social
SERVICE_TOKEN=internal-service-token
USER_SERVICE_URL=http://localhost:3001
RECIPE_SERVICE_URL=http://localhost:3002
RABBITMQ_URL=amqp://guest:guest@localhost:5672
RABBITMQ_EXCHANGE=recipes.events
